/*root es el archivo css*/
:root {
  /*variables muy bien para cambiar todo a la vez*/
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);

  --stone-100-hue:30%;
  --stone-100-saturation: 54%;
  --stone-100-luminosity:90%;

  --stone-100-hsl: 30, 54%, 90%;
  --stone-100-opacity:0.5;


  --heading-font: 'Young Serif', serif;
  --body-font: 'Outfit', outfit;

}


body {
  background-color: var(--stone-100);
  background-color: hsl(var(--stone-100-hue), var(--stone-100-saturation), var(--stone-100-luminosity));
  background-color: hsl(var(--stone-100-hsl));

  font-family: var(--body-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

main.container{
  background-color: white;
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  margin: 100px auto;

  padding: 30px;

  border-radius: 10px;

}

/* 
.padding-wrapper {
} 
porque la imagen no va separada
*/

.introduction__title{
  font-size: 30px;
  font-weight: normal;
  color: var(--stone-900);
  line-height: 1; /*se multiplica por fontsize no poner en px*/
}

.introduction__text{
  line-height: 1.3;
}

.section-title {
  color: var(--brown-800);
}

.preparation {
  background-color: var(--rose-50);
  padding: 10px 25px;
  border-radius: 10px;
}

.preparation__info {
  
}

.preparation-info__title, .instructions-info__title {
  font-family: var(--body-font);
  display: inline;
}

.instructions__list {

}

.instructions__info {
  margin-bottom: 15px;
  padding-left: 20px;
}

/*son los numeros de la lista*/
.instructions__info::marker {
  color: var(--brown-800);
  font-weight: bold;  
}



.separator {
  height: 2px;
  background-color: var(--stone-150);
  margin: 15px 0;
}


.nutrients {
  margin-left: 30px;
}

.nutrients_data {
  color: var(--brown-800);
  font-weight: bold;
  margin-left: 30px;
}